import React from 'react';
import { View, Text } from 'react-native';
import { styles } from './{{name}}.Styles';

interface {{name}}ScreenProps {}

const {{name}}Screen: React.FC<{{name}}ScreenProps> = () => {
  return (
    <View style={styles.container}>
      <Text>{{name}}Screen</Text>
    </View>
  );
};

export default {{name}}Screen; 